# Documentacion
/Documentacion/Copia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$pia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/Backup of Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$belero (TRABAJO RECEPCIONAL).docx

# Laravel Framework
/Backend/project/
/Backend/vendor/
/Backend/app/storage/
/Backend/bootstrap/compiled.php
/Backend/composer.phar
/Backend/composer.lock
/Backend/.env.*.php
/Backend/.env.

# OS
.DS_Store
Thumbs.db