/Documentacion/Copia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$pia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/Backup of Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$belero (TRABAJO RECEPCIONAL).docx
/taikishi-admin/nbproject/private/*
/taikishi-admin/bootstrap/compiled.php
/taikishi-admin/vendor/*
/taikishi-admin/composer.phar
/taikishi-admin/composer.lock
/taikishi-admin/.env.local.php
/taikishi-admin/.env.php
*.DS_Store
.DS_Store
Thumbs.db
*.wbk
*.tiff
composer.phar
composer.lock
.env.local.php
.env.php