/Documentacion/db schema/queries
/Documentacion/Modelo/Dominio/*
/Documentacion/Modelo/Documentacion del modelo/*
/Documentacion/Modelo/Requerimientos/*
/Documentacion/x documentar/*
/Documentacion/Copia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$pia de seguridad de Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/Backup of Rabelero (TRABAJO RECEPCIONAL).wbk
/Documentacion/~$belero (TRABAJO RECEPCIONAL).docx
/taikishi-admin/bootstrap/compiled.php
/taikishi-admin/vendor/*
/taikishi-admin/composer.phar
/taikishi-admin/composer.lock
/taikishi-admin/.env.local.php
/taikishi-admin/.env.php
/letema - Foundation/bower_components/*
/letema - Foundation/node_modules/*
/letema - Foundation/.bowerr
/eltema-Twitter Bootstrap/bower_components/*
/eltema-Twitter Bootstrap/node_modules/*
/eltema-Twitter Bootstrap/.bowerr
*.DS_Store
.DS_Store
Thumbs.db
*.wbk
*.tiff
composer.phar
composer.lock
.env.local.php
.env.php