/* ==========================================================================
   Variables
   ========================================================================== */
$green: #18c53d;
$orange: #ff5a00;
$black: #050708;
$black-font: #666666;
$orange-dark: #a94f00;
$orange-medium: #c45c00;
$orange-light: #d0711a;
$orange-bright: #e88e45;
$orange-font: #ffc29f;

/* ==========================================================================
   Off Canvas
   ========================================================================== */
 .left-off-canvas-menu {
    overflow-y: scroll;
    width:225px;
    height: 100%;
    }

@media #{$medium-only} {
    #main-content {
        float: right;
    }
    #sidebar {
        float: left;
        width: rem-calc(20);
        height: auto;
    }
}

@media #{$large-up} {
    #main-content {
        float: left;
        width: auto;
        height: auto;
        margin-left: 225px;
    }
    #secondary-one {
        width: 225px;
        height: auto;
        position: absolute;
        left: 0;
        top: rem-calc(64);
    }
    .left-off-canvas-menu {
        @include transform(none);
    }
    .move-right > .inner-wrap {
        @include transform(none);
    }
}

/* ==========================================================================
   HEader
   ========================================================================== */
header {
    border-bottom: 3px $green solid;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
    .top-bar {
        .logo-area {
            display: block;
            width: rem-calc(300px);
            text-align: center;
        }
        li a {
            //  @include transform(0.6s ease-in-out 0s);
            // line-height: rem-calc(28px);
            &:hover {
                // background-color: #F7F6F1;
                // color: #A1A1A1;
                // text-decoration: none;

            }
            /* i {
                height: rem-calc(17px);
                margin-right: rem-calc(3px);
                text-align: center;
                width: rem-calc(17px);
            } */
            .icon-right li a i {
                float: right;
                margin-right: rem-calc(-3px);
                margin-top: rem-calc(6px);
            }
        }
        li {
            a {
                color: #A1A1A1;
                @include transition(all 0.25s);
                &:hover {
                    color: #C1C1C1;
                    background-color: transparent;
                }
                i.dropdown-icon {
                    margin: 0 0 0 5px;
                    position: relative;
                    top: rem-calc(1px);
                }
                img {
                    @include transition(all 0.5s);
                    left: 50%;
                    margin-left: rem-calc(-17px);
                    margin-top: rem-calc(-17px);
                    position: absolute;
                    top: 50%;
                    width: rem-calc(34px);
                }
                .icon-toolsbar {
                    color: #08897e;
                    font-size: rem-calc(21px);
                    padding: 0 25px;
                }
                .avatar-header {
                    height: rem-calc(60px);
                    padding: 0;
                    position: relative;
                    width: rem-calc(34px);
                    img {
                        @include transition(all 0.5s);
                        left: 50%;
                        margin-left: rem-calc(-17px);
                        margin-top: rem-calc(-17px);
                        position: absolute;
                        top: 50%;
                        width: rem-calc(34px);
                    }
                    &:hover img {
                        @include opacity(7);
                    }
                    .badge {
                        background-color: #f35958;
                        font-weight: 300;
                        height: rem-calc(19px);
                        line-height: rem-calc(19px);
                        min-width: rem-calc(19px);
                        padding: 0 6px;
                        position: absolute;
                        right: rem-calc(-8px);
                        text-align: center;
                        top: rem-calc(4px);
                        z-index: 2;
                    }
                }
                .icon-toolsbar {
                    color: #08897e;
                    font-size: rem-calc(21px);
                    padding: 0 25px;
                }
            }
        }
    }
}

/* ==========================================================================
   Aside
   ========================================================================== */
.avatar {
    margin-top: 5px;
    color: $orange;
    .avatar-image {
        margin-left: -50px;
        height: 100px;
        width: 100px;
        position: relative;
        left: 50%;
        background-color: #393B41;
        border-radius: 50%;
        // border: 2px $green solid;
        border: 3px #2D2D2D solid;
        img {
            position: absolute;
            left: 3px;
            top: 3px;
            width: 90px;
        }
    }
    .avatar-detail {
        padding: 0 5px 10px 5px;
        text-align: center;
        p {
            text-overflow: ellipsis;
            white-space: helperwrap;
            margin-bottom: 0;
            font-weight: 300;
            &:first-child {
                font-size: 1.3rem;
            }
            a {
                color: $green;
                display: block;
                margin-bottom: 5px;
                font-size: 0.6875rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                &:focus {
                    outline: dotted 1px;
                }
            }
        }
        span {
            display: inline-block;
            margin-bottom: 5px;
            line-height: 24px;
            font-size: 0.6875rem;
            background-color: #242424;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #FFF;
            padding: 1px 10px;
        }
    }
    .avatar-link {
        a {
            color: #FFF;
            font-size: 16px;
            background-color: #444444;
            border-left: 1px solid #333333 !important;
            &:first-child {
                border-left: 0;
            }
            &:hover {
                background: #242424;
            }
            i {
                height: 20px;
                padding-left: 2px;
                padding-right: 8px;
            }
            em {
                height: 19px;
                margin-left: 1px;
                margin-top: -4px;
                position: absolute;
                top: 50%;
                width: 19px;
                z-index: 3;
                &:after, &:before {
                    @include border-radius(50%);
                }
                &:after {
                    background-color: #FFCC33;
                    content: "";
                    height: 8px;
                    left: 0;
                    position: absolute;
                    width: 8px;
                }
                &:before {
                    background: transparent;
                    border: 3px solid #FFF;
                    content: "";
                    height: 24px;
                    left: -8px;
                    @include opacity(0);
                    position: absolute;
                    top: -8px;
                    width: 24px;
                }
            }
            .red:after {
                background-color: #E02222;
            }
            .green:after {
                background-color: #A9D96C;
            }
            .active:before {
                -webkit-animation: sonar 2s ease-out infinite;
                -moz-animation: sonar 2s ease-out infinite;
                animation: sonar 2s ease-out infinite;
            }
        }
    }
}

#nav {
    border: 0px solid black;
    width: 225px;
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu nav ul#nav.k-widget {
    max-width: 225px;
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item span.k-link,
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item a.k-link {
    color: rgba(255, 255, 255, 0.7);
    background-color: #444444;
    padding: 0.36667rem;
    @include transition(background 300ms ease 0s);
    &:nth-child(2n+1) {
        border-top: 1px solid #121212;
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.07) inset;
    }
    &:nth-child(2n+2) {
        border-bottom: none;
        box-shadow: none;
    }
    &:last-child {
 border-bottom: none;
        box-shadow: none;
    }
    &:hover {
        background: #242424;
    }
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item ul.k-group li.k-item a.k-link {
    background-color: #333333;
    border-top: 1px solid #262626;
    padding-left: 2.4rem;
    &:hover {
        background: #242424;
    }
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item span.k-link {
    border: 0px black solid;
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item span.k-link span.k-icon {
 position: absolute;
    right: 10px;
    top: 15px;
}
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item span.k-link,
html.js body div.off-canvas-wrap div.inner-wrap div#page-wrap aside#sidebar div.left-off-canvas-menu div.jspContainer div.jspPane nav ul#nav.k-widget li.k-item a.k-link {
padding-left: 1rem;
}
/* ==========================================================================
   Main
   ========================================================================== */